{% extends "base_generic.html" %}
{% block content %}
<div class="container-fluid">
  <div style="background-color:beige;">
    <br>
    <h1 style="color: brown; font-size: 60px;">Ingresar un Nuevo/Modificar Datos de Director</h1>
    <br>
    <br>
    <p style="color: chocolate; font-size: 40px;">Bienvenidos A La Libreria de Directores <em>PelisView</em> </p>
    <br>
    <div style="margin-left: 10px;">
      <form action="" method="post">
        {% csrf_token %}
        <!--proteger la información-->
        <table>
          {{ form.as_table }}
        </table>
        <br>
        <br>
        <br>
        <input type="submit" value="Registrar" />
        <br>
        <br>
        <br>
        <br>
      </form>
    </div>
  </div>
</div>
{% endblock %}