{% extends "./base.html" %} 

{% block title%} Index {% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Bienvenidos a mi Mini Página Web</h1>
    
    
    <div class="card shadow p-4" style="border-radius: 20px;">
    <h3 class="mb-3">Sobre mí</h3>
    <p>
    Hola! Soy <strong>Cristian Andrés Varela Rubio</strong>, titulado de <strong>Ingeniería en Informática</strong>.
    Me considero un profesional comprometido, motivado y siempre aprendiendo nuevas tecnologías para crecer en el
    mundo del desarrollo.
    </p>
    
    
    <hr>
    
    
    <h4>¿Qué encontrarás en esta página?</h4>
    <ul>
    <li>
    <strong>Lenguajes de programación:</strong> una lista de los lenguajes que manejo según mi experiencia y formación.
    </li>
    <li>
    <strong>Contacto:</strong> una tarjeta con mis datos personales y mi reded profesional de GitHub.
    </li>
    </ul>
    
    
    <p class="mt-3">Siéntete libre de recorrer mi mini portafolio profesional 😊</p>
    </div>
    </div>




{%  endblock %}