{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<main>
  <h1 style="background-color:rgb(240, 96, 96);">Ranking de Peliculas 2020</h1>
  <!--<br>-->
  <div class="bd-example" style="background:rgb(219, 245, 214);">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">#</font>
            </font>
          </th>
          <th scope="col">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Peliculas</font>
            </font>
          </th>
          <th scope="col">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Tipo</font>
            </font>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">1</font>
            </font>
          </th>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Da 5 Bloods</font>
            </font>
          </td>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Drama</font>
            </font>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">2</font>
            </font>
          </th>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">The Personal History of David Copperfield</font>
            </font>
          </td>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Comedia dramática</font>
            </font>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">3</font>
            </font>
          </th>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Never Rarely Sometimes Always</font>
            </font>
          </td>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Drama</font>
            </font>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">4</font>
            </font>
          </th>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">The Hunt</font>
            </font>
          </td>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Acción</font>
            </font>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">5</font>
            </font>
          </th>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Bacurau</font>
            </font>
          </td>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Suspenso</font>
            </font>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">6</font>
            </font>
          </th>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">The Assistant</font>
            </font>
          </td>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Drama</font>
            </font>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">7</font>
            </font>
          </th>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Emma</font>
            </font>
          </td>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Drama</font>
            </font>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">8</font>
            </font>
          </th>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">The Vast of Night</font>
            </font>
          </td>
          <td>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Misterio</font>
            </font>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--trailer-->
  <h1 style="background-color:rgb(240, 96, 96);">Trailer Ranking 2020</h1>
  <div class="album py-5" style="background:darkslategrey;">
    <div class="container">
      <br>
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
              <div class="p-5">
                <img class="img-thumbnail" src="{% static 'img/pelicula2.jpg' %}">
              </div>
            </div>
            <div class="col-lg-4 order-lg-2">
              <div class="p-5">
                <h1>#1 Da 5 Bloods</h1>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3">
              <div class="p-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/D5RDTPfsLAI" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
              <div class="p-5">
                <img class="img-thumbnail" src="{% static 'img/pelicula3.jpg' %}">
              </div>
            </div>
            <div class="col-lg-4 order-lg-2">
              <div class="p-5">
                <h1>#2 The Personal History of David Copperfield</h1>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3">
              <div class="p-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/p-24ZVIOu7k" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
              <div class="p-5">
                <img class="img-thumbnail" src="{% static 'img/pelicula4.jpg' %}">
              </div>
            </div>
            <div class="col-lg-4 order-lg-2">
              <div class="p-5">
                <h1>#3 Never Rarely Sometimes Always</h1>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3">
              <div class="p-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Q_wuqKg4ZUA" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
              <div class="p-5">
                <img class="img-thumbnail" src="{% static 'img/pelicula5.jpg' %}">
              </div>
            </div>
            <div class="col-lg-4 order-lg-2">
              <div class="p-5">
                <h1>#4 The Hunt</h1>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3">
              <div class="p-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VyKfv0YlQOw" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
              <div class="p-5">
                <img class="img-thumbnail" src="{% static 'img/pelicula6.jpg' %}">
              </div>
            </div>
            <div class="col-lg-4 order-lg-2">
              <div class="p-5">
                <h1>#5 Bacurau</h1>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3">
              <div class="p-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LKTejyk9ZIA" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
              <div class="p-5">
                <img class="img-thumbnail" src="{% static 'img/pelicula7.jpg' %}">
              </div>
            </div>
            <div class="col-lg-4 order-lg-2">
              <div class="p-5">
                <h1>#6 The Assistant</h1>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3">
              <div class="p-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/z9761kQCNWc" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
              <div class="p-5">
                <img class="img-thumbnail" src="{% static 'img/pelicula8.jpg' %}">
              </div>
            </div>
            <div class="col-lg-4 order-lg-2">
              <div class="p-5">
                <h1>#7 Emma</h1>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3">
              <div class="p-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qsOwj0PR5Sk" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
              <div class="p-5">
                <img class="img-thumbnail" src="{% static 'img/pelicula9.jpg' %}">
              </div>
            </div>
            <div class="col-lg-4 order-lg-2">
              <div class="p-5">
                <h1>#8 The Vast of Night</h1>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3">
              <div class="p-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TCD0DqX5xS0" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</main>
{% endblock %}